[user]
	name = Russ Smith
  email = russ@bashme.org

[github]
	user = russ
  token = XXX

[core]
  autocrlf = input
  safecrlf = false
  eol = lf

[help]
  autocorrect = 1

[alias]
  ci = commit -va
  st = status
  co = checkout
  ui = update-index
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %f %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  ppull = '!git checkout master && git pull origin master && git checkout develop && git pull origin develop'

[apply]
  whitespace = strip

[diff]
  color = auto
  rename = copy

[pager]
  color = true

[status]
  color = auto
